{:paths     ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.8.0"},
        org.clojure/java.classpath {:mvn/version "0.2.3"},
        clj-time {:mvn/version "0.12.0"},
        ragtime/ragtime {:mvn/version "0.8.0"}}}

